<h1>Weather</h1>

<%= form_for @temperature, method: :put do |f| %>
  <table>
    <tr>
      <th>Definition</th>
      <th>Min</th>
      <th>Max</th>
    </tr>
    <% Temperature::TYPES.each do |type| %>
      <tr>
        <td><%= I18n.t("temperatures.#{type}") %></td>
        <%= f.hidden_field 'definitions[][type]', value: type  %>
        <td><%= f.number_field 'definitions[][min]', in: -100...100, value: 0 %></td>
        <td><%= f.number_field 'definitions[][max]', in: -100...100, value: 0 %></td>
      </tr>
    <% end %>
  </table>
  <%= f.submit %>
<% end %>
